.main {
  border-left: 2px solid black; /* Change weight from 3 to 2 */
  border-color: WhiteSmoke; /* Change the color to WiteSmoke */
}

.masthead img {
  max-width: 80px;
}

@media screen and (max-width: 960px) {

  body {
    width: auto;
    max-width: 824px;
  }

  .masthead {
    width: auto;
    float: none;
    padding: 20px 0 60px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 3px solid black;
    border-color: White; /* Change to White */
    position: static;  /* Change to Fixed Position */
  }

  .main {
    width: auto;
    padding: 40px 10px;
    margin-left: 0;
    border-left: none;
    min-height: auto;
  }

}