{{ partial "header.html" . }}

{{ if .Content }} {{ .Content }} {{ end }}

<div class="strike">
   <span> Recent Updates </span>
</div>

<ul>
  <li> English </li>
<ul>
  {{ range first 5 ( where .Site.Pages.ByLastmod.Reverse "Section" "en") }}
  <li>
    <span class="date">{{ .Lastmod.Format "2006/01/02" }}</span>
    <a href="{{ .URL }}">{{ .Title }}</a>
  </li>
  {{ end }}
</ul>

</br>
<li> 中文 </li>

 <ul>
  {{ range first 5 ( where .Site.Pages.ByLastmod.Reverse "Section" "cn") }}
  <li>
    <span class="date">{{ .Lastmod.Format "2006/01/02" }}</span>
    <a href="{{ .URL }}">{{ .Title }}</a>
  </li>
  {{ end }}
</ul>

</ul>

{{ partial "footer.html" . }}
