{{ partial "header.html" . }}

{{ if .Content }}

{{ .Content }}

{{ end }}

<ul>
  <li> English (Recent updates) </li>
<ul>
  {{ range first 8 ( where .Site.Pages.ByLastmod.Reverse "Section" "en") }}
  <li>
    <span class="date">{{ .Lastmod.Format "2006/01/02" }}</span>
    <a href="{{ .Permalink }}">{{ .Title }}</a>
  </li>
  {{ end }}
</ul>

</br>
<li> 中文 (最近更新) </li>

 <ul>
  {{ range first 8 ( where .Site.Pages.ByLastmod.Reverse "Section" "cn") }}
  <li>
    <span class="date">{{ .Lastmod.Format "2006/01/02" }}</span>
    <a href="{{ .Permalink }}">{{ .Title }}</a>
  </li>
  {{ end }}
</ul>

</ul>

{{ partial "footer.html" . }}
